<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
</head>
<body>
    <div class="container">
        <h1>Inference</h1>
        <img class="coverImg" src="data:image/jpeg;base64,{{ img }}" width="600" height="400"/>
        <table class="tableOsos">
        <thead >
            <tr>
                <th>Specie</th>
                <th>Weigh (kg)</th>
                <th>Body Length (cm)</th>
                <th>Life expectancy (Years)</th>
            </tr>
        </thead>
        <tbody>
            {% for bear in data %}
            <tr>
                <td>{{ bear[0] }}</td>
                <td>{{ bear[1] }}</td>
                <td>{{ bear[2] }}</td>
                <td>{{ bear[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>