<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>
<body>
    <div class="container">
        <h1> Identifies the class with IA</h1>
        <img class="coverImg"  src="/static/bearsImage.png" width="800" height="600"/>
        <form action="http://localhost:5000/classification" class="formUploadImage" method="POST" enctype="multipart/form-data">
                <div class="drop-area">
                    <h2>Drag and drop your image</h2>
                    <img src="/static/draganddrop.png"/>
                    <input class="hidden" type="file" id="file" name="file" hidden multiple />
                </div>
                <button class="buttonSubmit" type="submit">Send</button>
        </form>
        <div id="preview">
        </div>
    </div>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>